<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albert.auth.mapper.SysMenuMapper">
    <resultMap id="SysMenuEntityMap" type="com.albert.auth.entity.SysMenuEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="orderNo" property="orderNo"/>
        <result column="pid" property="pid"/>
    </resultMap>
    <select id="findAll" resultMap="SysMenuEntityMap">
        select pk_id,
               name,
               age,
               sex,
               hobby
        from demo.demo
    </select>
</mapper>